body {
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1486607303850-bc051a4ffad4?q=80&w=3548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      center no-repeat fixed;
  background-size: cover;
  background-attachment: fixed;
}

.rentDesc {
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.rentDesc:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

#navbar,
#footer {
  transition: all 0.5s;
}

#navbar:hover {
  background-color: rgba(33, 37, 41, 1);
}

.bodyCard,
#navbar,
#footer,
#register,
#newHousehold {
  background-color: rgba(33, 37, 41, 0.7);
}

#headers {
  opacity: 0;
  transition: opacity 1s;
}

#newHousehold {
  opacity: 0;
  transition: all 1s;
}

#logo {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  transition: all 1s;
  height: 3rem;
}

#logo:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
